<h1>Cohort List</h1>

<a href="/cohorts/new">New Cohort</a>

<ul class="list">
<% @cohorts.each do |cohort|%>
    <p>Name: <%=link_to "#{cohort.name}", cohort_path(cohort)%> <%= link_to "Edit Cohort", edit_cohort_path(cohort) %> <%= link_to "Destroy Cohort", cohort_path(cohort), method: :delete %></p>
        <li>Start date: <%=cohort.startdate%></li>
        <li>End date: <%=cohort.enddate%></li>
        <li>Course Name: <%=cohort.course.course_name%></li>
        
    <br>

    


    
<%end%>
</ul>

<%=flash[:info]%>


