<h1>Cohorts</h1>

<h1><%=@cohort.name%></h1>



<p>
  <strong>Name: </strong>
  <%= @cohort.name %>
</p>
 
<p>
  <strong>Start Date: </strong>
  <%= @cohort.startdate %>
</p>

<p>
  <strong>End Date: </strong>
  <%= @cohort.enddate %>
</p>

<p>
  <strong>Course Name: </strong>
  <%=@cohort.course.course_name%>
</p>

<p>
  <em>Go to Teacher page to see teacher </em>
  
</p>



<p>
  <strong>id: </strong>
  <%= @cohort.id %>
</p>

<p>
  
    <table style="margin:20px" class="students">
    <strong><em>Students</em></strong><br>
    <tr>
      <th><em>Id</em></th>
      <th><em>Firstname</em></th>
      <th><em>Lastname</em></th>
    </tr>
    <tr>
  <%@students.each do |student|%>
      
      <td><center><%=student.id%></center></td>
      <td><center><%=student.firstname%></center></td>
      <td><center><%=student.lastname%></center></td>
      
    </tr>
 <%end%>
    </table>
  
</p>

<%=link_to "Back", :back %>  <%= link_to "Edit Cohort", edit_cohort_path(@cohort) %>
