<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>


<h1>All students</h1>

<strong>Hello student</strong> <em><%=@student.firstname%> <%=@student.lastname%></em>

<p>
  <strong>First Name:</strong>
  <%= @student.firstname %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>


<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<p>
  <strong>id:</strong>
  <%= @student.id %>
</p>