
<h1>Students</h1>

<strong>Student: </strong> <em><%=@student.firstname%> <%=@student.lastname%></em>

<p>
  <strong>First Name:</strong>
  <%= @student.firstname %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>


<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<p>
  <strong>id:</strong>
  <%= @student.id %>
</p>

<%=link_to "Back", :back %>