

<%= form_with model: @teacher, local: true do |form|%>

<p>
<%= form.label :firstname%><br>
<%= form.text_field :firstname%>
</p>

<p>
<%= form.label :lastname%><br>
<%= form.text_field :lastname%>
</p>

<p>
<%= form.label :age%><br>
<%= form.text_field :age%>
</p>

<p>
<%= form.label :salary%><br>
<%= form.text_field :salary%>
</p>

<p>
<%= form.label :education%><br>
<%= form.select  :education, options_for_select(["hs","college","masters","phd"])%>
</p>
<p>
<%= form.label :cohort%><br>
<%=form.hidden_field :cohort_id, value: @cohort_id%>
<%= form.select :cohort_id, @cohorts.map {|cohort| [cohort.name,cohort.id]}%>

<p>
<%=form.submit 'submit'%>
</p>

<%end%>