<h1>Teachers</h1>

<strong>Teacher: </strong> <em><%=@teacher.firstname%> <%=@teacher.lastname%></em>

<p>
  <strong>First Name:</strong>
  <%= @teacher.firstname %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @teacher.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @teacher.age %>
</p>

<p>
  <strong>Salary: $</strong>
  <%= @teacher.salary %>
</p>

<p>
  <strong>Education:</strong>
  <%= @teacher.education %>
</p>

<p>
  <strong>id:</strong>
  <%= @teacher.id %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @teacher.cohort.name %>
</p>




<%=link_to "Back", :back %>