<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
    <div class="top">
    <h1 class="title">Administration Panel</h2>
    </div>
    
    
 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    

  
    <% if admin_signed_in? %>
    Logged in as <strong><%= current_admin.email %></strong>.<br /><br />
  <center>
  <div class="navbar">
        
        
        <a style="margin-left:20px" href="/teachers">Teacher</a>
        <a style="margin-left:20px" href="/courses">Courses</a>
        <a style="margin-left:20px" href="/cohorts">Cohorts</a>
        <a style="margin-left:20px" href="/students">Students</a>

        <a style="margin-left:20px"><%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar', :id => 'option' %></a>
        <a style="margin-left:20px"><%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar', :id => 'option'  %></a>
         
    
      <% else %> 
    <a><%= link_to "Sign up", new_admin_registration_path, :class => 'navbar'  %></a> 
    <a><%= link_to "Login", new_admin_session_path, :class => 'navbar'  %> </a>
  <% end %>
  </div>
  </center>

  <div class="info">
    <%= yield %>
  </div>
  </center>
  </body>
</html>
