<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
    <div class="top">
    <h1 id="title">Administration Panel</h1>
    </div>
    
    
 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    

  
    <% if admin_signed_in? %>
    Logged in as <strong><%= current_admin.email %></strong>.<br /><br />
  
  
  <div class="navbar" id="nav">
        <a style="margin-left:20px" href="/teachers">Teacher</a>
        <a style="margin-left:20px" href="/courses">Courses</a>
        <a style="margin-left:20px" href="/cohorts">Cohorts</a>
        <a style="margin-left:20px" href="/students">Students</a>

        <a style="margin-left:20px"><%= link_to 'Edit profile', edit_admin_registration_path,  :id => 'option' %></a>
        <a style="margin-left:20px"><%= link_to "Logout", destroy_admin_session_path, method: :delete,  :id => 'option'  %></a>
         
    
      <% else %> 
    <a><%= link_to "Sign up", new_admin_registration_path  %></a>
    <a><%= link_to "Login", new_admin_session_path  %> </a> 
    
  <% end %>
  </div>
  

  <div class="info">
    <%= yield %>
  </div>
  </center>
  <center>
  <div class="cover">
    <img src="http://pluspng.com/img-png/apple-png-for-teachers-polka-dot-apple-clip-art-578.png" hieght="250px" width="250px">
    </div>
    </center>
  </body>
</html>
